In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import gmaps

In [2]:
zip_tract = "Resources/ziptract2010.csv"
zip_us = "Resources/us-zip-codes.csv"

In [3]:
# Read the mouse data and the study results
zip_tract = pd.read_csv(zip_tract)
zip_us = pd.read_csv(zip_us, sep=";")
# , sep=";"
# zip_covid = pd.read_csv(zip_covid)
# lat_long = pd.read_csv(lat_long, sep=";")

In [4]:
zip_tract

              TRACT    ZIP
0       36103158607    501
1       36103158607    544
2       72001956300    601
3       72001956600    601
4       72001956700    601
...             ...    ...
145624   2201000200  99925
145625   2201000400  99926
145626   2201000100  99927
145627   2130000100  99928
145628   2280000300  99929

[145629 rows x 2 columns]

In [5]:
zip_us

,ZIP,ZipCodeType,City,State,LocationType,Lat,Long,Xaxis,Yaxis,Zaxis,WorldRegion,Country,LocationText,Location,Decommisioned,TaxReturnsFiled,EstimatedPopulation,TotalWages,Notes,Coordinates
0,26542,STANDARD,MASONTOWN,WV,PRIMARY,39.55,-79.80,0.130000,-0.75,0.63,NaN,US,"Masontown, WV",NA-US-WV-MASONTOWN,False,1027.0,1818.0,32044336.0,NaN,"39.55,-79.8"
1,25134,PO BOX,MIAMI,WV,PRIMARY,38.06,-81.42,0.110000,-0.77,0.61,NaN,US,"Miami, WV",NA-US-WV-MIAMI,False,NaN,NaN,NaN,NaN,"38.06,-81.42"
2,24737,PO BOX,MONTCALM,WV,PRIMARY,37.35,-81.25,0.120000,-0.78,0.60,NaN,US,"Montcalm, WV",NA-US-WV-MONTCALM,False,322.0,635.0,7298383.0,NaN,"37.35,-81.25"
3,26508,STANDARD,CHEAT LAKE,WV,NOT ACCEPTABLE,39.63,-79.94,0.130000,-0.75,0.63,NaN,US,"Cheat Lake, WV",NA-US-WV-CHEAT LAKE,False,12459.0,22694.0,612353529.0,NaN,"39.63,-79.94"
4,26410,STANDARD,NEWBURG,WV,PRIMARY,39.38,-79.85,0.130000,-0.76,0.63,NaN,US,"Newburg, WV",NA-US-WV-NEWBURG,False,443.0,818.0,13182465.0,NaN,"39.38,-79.85"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81826,61726,STANDARD,MEADOWS,IL,NOT ACCEPTABLE,40.74,-88.71,0.010000,-0.75,0.65,NaN,US,"Meadows, IL",NA-US-IL-MEADOWS,False,1321.0,2318.0,41750145.0,NaN,"40.74,-88.71"
81827,61322,PO BOX,DE PUE,IL,NOT ACCEPTABLE,41.32,-89.29,0.009229,-0.75,0.66,NaN,US,"De Pue, IL",NA-US-IL-DE PUE,False,704.0,1255.0,19243174.0,NaN,"41.32,-89.29"
81828,60517,STANDARD,WOODRIDGE,IL,PRIMARY,41.73,-88.04,0.020000,-0.74,0.66,NaN,US,"Woodridge, IL",NA-US-IL-WOODRIDGE,False,21636.0,33708.0,850328625.0,NaN,"41.73,-88.04"
81829,60420,STANDARD,DWIGHT,IL,PRIMARY,41.09,-88.42,0.020000,-0.75,0.65,NaN,US,"Dwight, IL",NA-US-IL-DWIGHT,False,2444.0,4271.0,85323021.0,NaN,"41.09,-88.42"
81830,61432,STANDARD,JOSHUA,IL,NOT ACCEPTABLE,40.65,-90.19,-0.002530,-0.75,0.65,NaN,US,"Joshua, IL",NA-US-IL-JOSHUA,False,329.0,613.0,11663434.0,NaN,"40.65,-90.19"

In [6]:
zip_us = zip_us.rename(columns={'Zipcode':'ZIP'})

In [7]:
# zip_us.columns

# zip_tract.dtypes

# data_2010.columns

# data_2010.dtypes

In [8]:
merged_df= zip_tract.merge(zip_us, how='left', on= 'ZIP')
merged_df.columns

Index(['TRACT', 'ZIP', 'ZipCodeType', 'City', 'State', 'LocationType', 'Lat',
       'Long', 'Xaxis', 'Yaxis', 'Zaxis', 'WorldRegion', 'Country',
       'LocationText', 'Location', 'Decommisioned', 'TaxReturnsFiled',
       'EstimatedPopulation', 'TotalWages', 'Notes', 'Coordinates'],
      dtype='object')

In [10]:
reduced_df= ['ZIP','State','TRACT']
reduced_df

['ZIP', 'State', 'TRACT']

In [11]:
df = merged_df[reduced_df]
mostate = df.loc[df['State'] == 'MO']
mostate.head(2)

          ZIP State        TRACT
254450  63001    MO  29189221503
254451  63005    MO  29071800100

In [12]:
mostate= mostate.dropna(how='any')

In [13]:
mostate.count()

ZIP      8396
State    8396
TRACT    8396
dtype: int64

In [16]:
mostate.head()

          ZIP State        TRACT
254450  63001    MO  29189221503
254451  63005    MO  29071800100
254452  63005    MO  29071800100
254453  63005    MO  29071800100
254454  63005    MO  29071800100

In [17]:
mostate.to_csv("zipcode-tract-mo_df.csv")

In [ ]:
# ------------------------------------------------------------------------

In [18]:
ks_zip_tract = "zipcode-tract-mo_df.csv"
tract_ks = "Resources/2010-kcmo-acs2.csv"

In [19]:
# Read the mouse data and the study results
ks_zip_tract = pd.read_csv(ks_zip_tract)
tract_ks = pd.read_csv(tract_ks)

In [20]:
ks_zip_tract

      Unnamed: 0    ZIP State        TRACT
0         254450  63001    MO  29189221503
1         254451  63005    MO  29071800100
2         254452  63005    MO  29071800100
3         254453  63005    MO  29071800100
4         254454  63005    MO  29071800100
...          ...    ...   ...          ...
8391      262841  65897    MO  29077000200
8392      262842  65898    MO  29077002200
8393      262843  65898    MO  29077002200
8394      262844  65899    MO  29077002500
8395      262845  65899    MO  29077002500

[8396 rows x 4 columns]

In [21]:
tract_ks

,STFID Number,County,Census Tract,Population,% Whites,% African Americans,% Native Americans,% Asians,% Pacific Islanders,% Persons of Other Races,...,% Hispanics of Any Race,Minority Persons,% Minority Persons,Median Household Income,% Persons Below Poverty Level,Median Home Value,Owner-Occupied Units,Renter-Occupied Units,% Owner-Occupied Units,% Renter-Occupied Units
0,290959808021,Jackson,9808.02,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,0,0.0,0,0,0,0.0,0.0
1,290470211026,Clay,211.02,768,78.9,9.0,1.0,2.3,2.6,1.4,...,5.3,182,23.7,77412,7.7,127652,202,125,61.8,38.2
2,290959801011,Jackson,9801.01,8,0.0,100.0,0.0,0.0,0.0,0.0,...,0.0,8,100.0,0,0.0,0,0,2,0.0,100.0
3,290470202013,Clay,202.01,1335,54.7,14.9,0.7,19.4,2.0,4.0,...,8.6,653,48.9,43704,16.0,100543,170,321,34.6,65.4
4,290950075003,Jackson,75.00,1144,72.0,16.8,0.9,1.5,0.0,6.6,...,5.4,349,30.5,40833,39.0,133036,73,107,40.6,59.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
815,290950140071,Jackson,140.07,4468,90.6,3.8,0.5,0.6,0.1,1.2,...,5.2,554,12.4,57399,19.6,168382,775,832,48.2,51.8
816,290470213054,Clay,213.05,2256,93.6,2.7,0.1,1.0,0.0,0.9,...,4.9,229,10.2,83580,3.7,145072,756,69,91.6,8.4
817,290470202011,Clay,202.01,997,81.3,3.1,0.8,6.6,2.1,3.7,...,10.7,247,24.8,29357,16.0,89717,284,134,67.9,32.1
818,290950102031,Jackson,102.03,1370,63.5,27.4,0.1,2.8,0.4,3.4,...,5.5,523,38.2,57611,4.5,130970,409,111,78.7,21.3
819,290470202021,Clay,202.02,1832,93.0,2.8,0.2,1.7,0.0,1.1,...,4.5,187,10.2,101774,2.4,245982,759,30,96.2,3.8

In [22]:
tract_ks = tract_ks.rename(columns={'STFID Number':'TRACT'})

In [23]:
tract_ks

,TRACT,County,Census Tract,Population,% Whites,% African Americans,% Native Americans,% Asians,% Pacific Islanders,% Persons of Other Races,...,% Hispanics of Any Race,Minority Persons,% Minority Persons,Median Household Income,% Persons Below Poverty Level,Median Home Value,Owner-Occupied Units,Renter-Occupied Units,% Owner-Occupied Units,% Renter-Occupied Units
0,290959808021,Jackson,9808.02,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,0,0.0,0,0,0,0.0,0.0
1,290470211026,Clay,211.02,768,78.9,9.0,1.0,2.3,2.6,1.4,...,5.3,182,23.7,77412,7.7,127652,202,125,61.8,38.2
2,290959801011,Jackson,9801.01,8,0.0,100.0,0.0,0.0,0.0,0.0,...,0.0,8,100.0,0,0.0,0,0,2,0.0,100.0
3,290470202013,Clay,202.01,1335,54.7,14.9,0.7,19.4,2.0,4.0,...,8.6,653,48.9,43704,16.0,100543,170,321,34.6,65.4
4,290950075003,Jackson,75.00,1144,72.0,16.8,0.9,1.5,0.0,6.6,...,5.4,349,30.5,40833,39.0,133036,73,107,40.6,59.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
815,290950140071,Jackson,140.07,4468,90.6,3.8,0.5,0.6,0.1,1.2,...,5.2,554,12.4,57399,19.6,168382,775,832,48.2,51.8
816,290470213054,Clay,213.05,2256,93.6,2.7,0.1,1.0,0.0,0.9,...,4.9,229,10.2,83580,3.7,145072,756,69,91.6,8.4
817,290470202011,Clay,202.01,997,81.3,3.1,0.8,6.6,2.1,3.7,...,10.7,247,24.8,29357,16.0,89717,284,134,67.9,32.1
818,290950102031,Jackson,102.03,1370,63.5,27.4,0.1,2.8,0.4,3.4,...,5.5,523,38.2,57611,4.5,130970,409,111,78.7,21.3
819,290470202021,Clay,202.02,1832,93.0,2.8,0.2,1.7,0.0,1.1,...,4.5,187,10.2,101774,2.4,245982,759,30,96.2,3.8

In [24]:
merged_df= tract_ks.merge(ks_zip_tract, how='left', on= 'TRACT')

In [25]:
 merged_df.tail()

,TRACT,County,Census Tract,Population,% Whites,% African Americans,% Native Americans,% Asians,% Pacific Islanders,% Persons of Other Races,...,Median Household Income,% Persons Below Poverty Level,Median Home Value,Owner-Occupied Units,Renter-Occupied Units,% Owner-Occupied Units,% Renter-Occupied Units,Unnamed: 0,ZIP,State
815,290950140071,Jackson,140.07,4468,90.6,3.8,0.5,0.6,0.1,1.2,...,57399,19.6,168382,775,832,48.2,51.8,NaN,NaN,NaN
816,290470213054,Clay,213.05,2256,93.6,2.7,0.1,1.0,0.0,0.9,...,83580,3.7,145072,756,69,91.6,8.4,NaN,NaN,NaN
817,290470202011,Clay,202.01,997,81.3,3.1,0.8,6.6,2.1,3.7,...,29357,16.0,89717,284,134,67.9,32.1,NaN,NaN,NaN
818,290950102031,Jackson,102.03,1370,63.5,27.4,0.1,2.8,0.4,3.4,...,57611,4.5,130970,409,111,78.7,21.3,NaN,NaN,NaN
819,290470202021,Clay,202.02,1832,93.0,2.8,0.2,1.7,0.0,1.1,...,101774,2.4,245982,759,30,96.2,3.8,NaN,NaN,NaN

In [26]:
merged_df.count

<bound method DataFrame.count of             TRACT   County  Census Tract  Population  % Whites  \
0    290959808021  Jackson       9808.02           0       0.0
1    290470211026     Clay        211.02         768      78.9
2    290959801011  Jackson       9801.01           8       0.0
3    290470202013     Clay        202.01        1335      54.7
4    290950075003  Jackson         75.00        1144      72.0
..            ...      ...           ...         ...       ...
815  290950140071  Jackson        140.07        4468      90.6
816  290470213054     Clay        213.05        2256      93.6
817  290470202011     Clay        202.01         997      81.3
818  290950102031  Jackson        102.03        1370      63.5
819  290470202021     Clay        202.02        1832      93.0

     % African Americans  % Native Americans  % Asians  % Pacific Islanders  \
0                    0.0                 0.0       0.0                  0.0
1                    9.0                 1.0       2.3                  2.6
2                  100.0                 0.0       0.0                  0.0
3                   14.9                 0.7      19.4                  2.0
4                   16.8                 0.9       1.5                  0.0
..                   ...                 ...       ...                  ...
815                  3.8                 0.5       0.6                  0.1
816                  2.7                 0.1       1.0                  0.0
817                  3.1                 0.8       6.6                  2.1
818                 27.4                 0.1       2.8                  0.4
819                  2.8                 0.2       1.7                  0.0

     % Persons of Other Races  ...  Median Household Income  \
0                         0.0  ...                        0
1                         1.4  ...                    77412
2                         0.0  ...                        0
3                         4.0  ...                    43704
4                         6.6  ...                    40833
..                        ...  ...                      ...
815                       1.2  ...                    57399
816                       0.9  ...                    83580
817                       3.7  ...                    29357
818                       3.4  ...                    57611
819                       1.1  ...                   101774

     % Persons Below Poverty Level  Median Home Value  Owner-Occupied Units  \
0                              0.0                  0                     0
1                              7.7             127652                   202
2                              0.0                  0                     0
3                             16.0             100543                   170
4                             39.0             133036                    73
..                             ...                ...                   ...
815                           19.6             168382                   775
816                            3.7             145072                   756
817                           16.0              89717                   284
818                            4.5             130970                   409
819                            2.4             245982                   759

     Renter-Occupied Units  % Owner-Occupied Units  % Renter-Occupied Units  \
0                        0                     0.0                      0.0
1                      125                    61.8                     38.2
2                        2                     0.0                    100.0
3                      321                    34.6                     65.4
4                      107                    40.6                     59.4
..                     ...                     ...                      ...
815                    832                    48.2                     51.8
816                     69                    91.6                      8.4
817                    134                    67.9                     32.1
818                    111                    78.7                     21.3
819                     30                    96.2                      3.8

     Unnamed: 0  ZIP  State
0           NaN  NaN    NaN
1           NaN  NaN    NaN
2           NaN  NaN    NaN
3           NaN  NaN    NaN
4           NaN  NaN    NaN
..          ...  ...    ...
815         NaN  NaN    NaN
816         NaN  NaN    NaN
817         NaN  NaN    NaN
818         NaN  NaN    NaN
819         NaN  NaN    NaN

[820 rows x 25 columns]>

In [26]:
 merged_df= merged_df.dropna(how='any')

In [27]:
 merged_df

Empty DataFrame
Columns: [TRACT, County, Census Tract, Population, % Whites, % African Americans, % Native Americans, % Asians, % Pacific Islanders, % Persons of Other Races, % Persons of More than One Race, Hispanics of Any Race, % Hispanics of Any Race, Minority Persons, % Minority Persons, Median Household Income, % Persons Below Poverty Level, Median Home Value, Owner-Occupied Units, Renter-Occupied Units, % Owner-Occupied Units, % Renter-Occupied Units, Unnamed: 0, ZIP, State]
Index: []

[0 rows x 25 columns]

In [ ]:
# NewMerged.dtypes